{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <section class="home-content">
        <h1>Welcome to Our Project</h1>
        <p>This is the home page. Here you can find information about our services and how we can help you.</p>
        <nav class="navigation">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
        </nav>
    </section>
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
	<p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <p>You are not logged in</p>
	<a href="{% url 'login' %}">Log In</a>
	<a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
{% endblock %}
